* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.fondo {
    background-image: url(./assets/cap2.png);
    height: 1000px;

}

.comienzo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorUno {
    border: 4px solid black;
    border-radius: 30px;
    height: 610px;
    width: 78%;
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    background-color: white;
}

.primerTitulo {
    display: flex;
    align-items: flex-start;
    height: 230px;
    width: 500px;
    justify-content: center;
    padding: 45px;
    color: rgb(114, 114, 114);
    font-size: medium;
}

.contenedoIconoYTexto {
    display: flex;
    justify-content: space-between;
}

.bi-list {
    width: 100px;
    height: 60px;
    font-size: 40px;
    display: flex;
    align-items: end;
}

.menuTexto {
    display: flex;
    height: 60px;
    width: 50%;
    justify-content: flex-end;
    align-items: end;
}

.menu {
    font-size: 13px;
    padding-left: 15px;
    text-align: center;
}

.padrePrimeraParte {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.medioPrimeraParte {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tituloMedioPrimeraParte {
    display: flex;
    align-items: end;
    padding-bottom: 5px;
    /* background-color: blue; */
    height: 215px;
    width: 100%;
    font-size: 35px;
    color: rgb(24, 24, 24);
}

.textoNegro {
    width: 75%;
    padding-left: 5px;
    font-size: 35px;
    font-weight: 700;
    color: black;
}

.textoMedioSegundaParte {
    width: 490px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.miImagen {
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: royalblue; */
    height: 100%;
    width: 100%;
}

.imagen {
    width: 55%;
    height: 50%;
    border-radius: 5px;
}

.divPadreInicio {
    height: 105px;
    /* background-color: cyan; */
    display: flex;
}

.finalParteInicial {
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: red; */
    width: 50%;
}

.iconosParteFinalInicio {
    display: flex;
    justify-content: start;
    align-items: end;
    /* background-color: blue; */
    width: 50%;
}

.bi-linkedin {
    width: 45px;
    font-size: 17px;
}

.bi-github {
    width: 45px;
    font-size: 17px;
}

.bi-instagram {
    width: 45px;
    font-size: 17px;
}

.bi-facebook {
    width: 45px;
    font-size: 17px;
}

.bi-twitter {
    font-size: 17px;
}


/* Segunda Parte */
.menu-Inico-De-Pagina {
    display: flex;
    justify-content: space-between;
}

.Icono-bi {
    font-size: 50px;
    width: 250px;
    height: 230px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 7px;
}

.menu-Opciones {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    width: 43%;
    padding: 7px;

}

.a-menu {
    margin: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 18.3%;
    /* background-color: aqua; */
    border-radius: 10px;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.textoEImagen {
    height: 540px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-h {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloTexto {
    font-size: 50px;
    height: 13%;
    width: 76%;
    text-align: start;
}

.distincionDeLetra {
    font-weight: 900;
}

.textoSubtitulo {
    height: 15%;
    width: 78%;
    font-size: 27px;
    text-align: justify;
    padding-left: 1.5%;
}

.miImagen1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

.imagen1 {
    width: 320px;
    border-radius: 7px;
}

.finaParteInicial {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.ubicacionIconos {
    width: 33.7%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.biLinkedin1 {
    font-size: 22px;
    color: black;
}

.biGithub1 {
    font-size: 22px;
    color: black;
}

.biInstagram1 {
    font-size: 22px;
    color: black;
}

.biFacebook1 {
    font-size: 22px;
    color: black;
}

.biTwitter1 {
    font-size: 22px;
    color: black;
}

.ubicacionTexto {
    width: 23.5%;
    display: flex;
    align-items: end;
    justify-content: center;

}

.tamañoTexto {
    font-size: large;
    font-weight: 600;
    color: rgb(19, 19, 19);
}

.seccion-WhatIdo {
    /* background-color: aqua; */
    width: 100%;
    height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.titulo-whatido {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 28%;
    height: 100px;
}

.div-texto-que-hago {
    display: flex;
    justify-content: center;
}

.bi-icono-telefono {
    font-size: 35px;
}

/* .bi-icono- */
.bi-icono-display {
    font-size: 40px;
}

.divs {
    padding: 20px;
    margin: 40px;
    width: 350px;
}

/* Skills */
.padre-iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: coral; */
    margin-top: 170px;
}

.tituloSkills{
    /* background-color: yellowgreen; */
    width: 87%;
    height: 100px;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.iconos-trabajo {
    display:flex;
    flex-wrap: wrap;
    font-size: 50px;
    width: 87%;
    justify-content: space-between;
    height: 50%;
    /* background-color: aqua; */
    
}

/* fijarse y arreglar */
.icono {
    width: calc(27% - 2px);
    display: flex;
    margin: 10px 20px 20px 0;
    /* background-color: blue; */

}

.texto-iconos-skills {
    font-size: 20px;
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.linea-negra {
    width: calc(87%);
    height: 2px;
    background-color: gray;
}

.icono-de-abajo{
    width: 70px;
    background-color: aqua;
    border: 2px solid black;
    /* display: flex;
    flex-direction: row; */
}

/* seccion-de-experiencia */
.seccion-de-experiencia{
    background-color: aqua;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-y-p{
    width: 87%;
}