* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #212121;
}

.fondo {
    background-image: url(./assets/cap2.png);
    height: 1000px;

}

.comienzo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorUno {
    border: 4px solid black;
    border-radius: 30px;
    height: 610px;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    background-color: white;
}

.primerTitulo {
    display: flex;
    align-items: flex-start;
    height: 230px;
    width: 500px;
    justify-content: center;
    padding: 45px;
    color: rgb(114, 114, 114);
    font-size: medium;
}

.contenedoIconoYTexto {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.bi-list {
    width: 70%;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: end;
    transform: rotate(180deg);
    justify-content: end;
    padding-bottom: 20px;
}

.menuTexto {
    display: flex;
    height: 60px;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    font-size: 13px;
    padding-left: 15px;
    text-align: center;
}

.padrePrimeraParte {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.medioPrimeraParte {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tituloMedioPrimeraParte {
    display: flex;
    align-items: end;
    padding-bottom: 5px;
    height: 190px;
    width: 100%;
    font-size: 35px;
    color: rgb(24, 24, 24);
}

.textoMedioSegundaParte {
    width: 490px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.miImagen {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 12px 0 0 0;
}

.imagen {
    width: 60%;
    height: 60%;
    border-radius: 5px;
}

.divPadreInicio {
    height: 105px;
    /* background-color: cyan; */
    display: flex;
}

.finalParteInicial {
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: red; */
    width: 50%;
}

.iconosParteFinalInicio {
    display: flex;
    justify-content: start;
    align-items: end;
    /* background-color: blue; */
    width: 50%;
}

.bi-linkedin {
    width: 45px;
    font-size: 17px;
}

.bi-github {
    width: 45px;
    font-size: 17px;
}

.bi-instagram {
    width: 45px;
    font-size: 17px;
}

.bi-facebook {
    width: 45px;
    font-size: 17px;
}

.bi-twitter {
    font-size: 17px;
}

/* Segunda Parte */
.Navbar {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.nav_logo {
    font-weight: bold;
    font-size: 20px;
    color: #212121;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 75%;
}

.nav_logo .i {
    display: flex;
    justify-content: end;
    font-size: 60px;
    transform: rotate(180deg);
    height: 100px;
}

.nav_logo .hamburguesa{
    display: flex;
    align-items: start;
    height: 12.5vh;
    width: 24vh;
}

.nav_items a {
    margin-right: 6px;
    font-size: large;
    position: relative;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_items {
    width: 42%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.nav_items a:hover {
    background-color: #797979;
    color: #f8f8f8
}

.nav_toggle {
    display: none;
}

@media (max-width: 768px) {
    .nav_items {
        position: absolute;
        top: 100px;
        margin-top: 146.9vh;
        padding: 30% 0;
        right: 0;
        background: rgb(107, 106, 105);
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 105vh;
        transform: translateX(100%);
        transition: 0.3s ease all;
    }

    .nav_items.open {
        transform: translateX(0) !important;
    }
    .nav_items a{
        color: white;
    }

    .nav_toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
        width: 65px;
        height: 30px;
    }

    .nav_toggle span {
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .nav_toggle.open>span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .nav_toggle.open>span:nth-child(2) {
        display: none;
    }

    .nav_toggle.open>span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .nav_logo{
        width: 32%;
    }

    .nav_logo .i {
        height: 70px;
    }
}

.textoEImagen {
    height: 540px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-h {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloTexto {
    font-size: 50px;
    height: 13%;
    width: 76%;
    text-align: start;
}

.distincionDeLetra {
    font-weight: 900;
}

.textoSubtitulo {
    height: 15%;
    width: 78%;
    font-size: 27px;
    text-align: justify;
    padding-left: 1.5%;
}

.miImagen1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

.imagen1 {
    width: 300px;
    border-radius: 7px;
}

.finaParteInicial {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.ubicacionIconos {
    margin-left: calc(16.5vh);
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
}

.biLinkedin1 {
    font-size: 22px;
    color: black;
}

.ubicacionIconos .biLinkedin1:hover {
    color: #0077B5;
    
}

.biGithub1 {
    font-size: 22px;
    color: black;
}

.biInstagram1 {
    font-size: 22px;
    color: black;
}

.ubicacionIconos .biInstagram1:hover {
    color: #E4405F;
}

.biFacebook1 {
    font-size: 22px;
    color: black;
}

.ubicacionIconos .biFacebook1:hover {
    color: #0760d4;
}

.biTwitter1 {
    font-size: 22px;
    color: black;
}

.ubicacionIconos .biTwitter1:hover {
    color: #00acee
}

.ubicacionTexto {
    width: 23.5%;
    display: flex;
    align-items: end;
    justify-content: center;

}

.tamañoTexto {
    font-size: large;
    font-weight: 600;
    color: rgb(19, 19, 19);
}

.seccion-WhatIdo {
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.titulo-whatido {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 28%;
    height: 100px;
}

.div-texto-que-hago {
    display: flex;
    justify-content: center;
}

.bi-icono-telefono {
    font-size: 35px;
}

/* .bi-icono- */
.bi-icono-display {
    width: 40px;
}

.titulos-de-que-hago {
    padding: 15px 0 10px 0;
}

.divs {
    padding: 20px;
    margin: 40px;
    width: 350px;
}

/* Skills */
.padre-iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
}

.tituloSkills {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 87%;
    height: 100px;
    margin-bottom: 20px;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.iconos-trabajo {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    width: 87%;
    justify-content: space-between;
    height: 50%;
}

.icono {
    width: calc(27% - 2px);
    display: flex;
    margin: 10px 20px 20px 0;
}

.padre-iconos .iconos-trabajo .icono1:hover {
    color: rgb(255, 145, 0);
    transform: scale(1.1);
}

.padre-iconos .iconos-trabajo .icono2:hover {
    color: rgb(51, 122, 183);
    transform: scale(1.1);
}

.padre-iconos .iconos-trabajo .icono3:hover {
    color: rgb(98, 26, 165);
    transform: scale(1.1);
}

.padre-iconos .iconos-trabajo .icono4:hover {
    color: rgb(238, 202, 1);
    transform: scale(1.1);
}

.padre-iconos .iconos-trabajo .icono5:hover {
    color: rgb(0, 122, 204);
    transform: scale(1.1);
}

.iconos-abajo-linea {
    width: 90%;
    display: flex;
    justify-content: start;
}

.icono-adobe,
.icono-photoshop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-icono-abajo {
    font-size: large;
    margin-left: 10px;
    font-weight: 700;
    width: 345px;
}

.sub-icono {
    width: 60px;
    margin: 20px 0;
}

#mi-svg:hover{
    fill: red;
    transform: scale(1.1);
}

#mi-svg-2:hover{
    fill: #035f91;
    transform: scale(1.1);
}


.texto-iconos-skills {
    font-size: 18px;
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 150px;
    font-family: sans-serif;
    color: #212121;
}

.linea-negra {
    width: calc(84%);
    height: calc(1.5px);
    background-color: rgb(204, 204, 204);
}

.icono-de-abajo {
    width: 70px;
    background-color: aqua;
    border: 2px solid black;
    /* display: flex;
    flex-direction: row; */
}

/* seccion-de-experiencia */
.seccion-de-experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.h2-y-p {
    width: 87%;
}

.titulo-experiencia {
    width: 87%;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.subtitulo-experiencia {
    font-size: 21px;
    height: 40px;
    display: flex;
    align-items: end;
}

.texto-founder {
    margin: 15px 0;
    width: calc(84.5%);
    color: rgb(87, 84, 84);
    font-size: calc(14.4px);
}

.linea-gris {
    width: calc(84%);
    height: calc(2px);
    background-color: rgb(204, 204, 204);
}

/* Parte de Contact me */

.parte-contactame {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.parte-di-hola {
    width: 480px;
}

.titulo-di-hola {
    height: 75px;
    display: flex;
    align-items: end;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212121;
}

.texto-di-hola {
    height: 140px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    text-align: justify;
    color: #212121;
}

.texto-icono-dihola {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #212121;
    font-size: 18px;
}

.iconos-sigueme {
    width: 150px;
    color: #212121;
}

.iconos-redes-sociales {
    display: flex;
    font-size: large;
    justify-content: space-between;
}

.red-icono {
    color: #212121;
}

.iconolinkedin2:hover {
    color: #0077B5;
}

.iconoinstagram2:hover {
    color: #E4405F;
}

.iconofacebook2:hover {
    color: #0760d4;
}

.iconotwitter2:hover {
    color: #00acee;
}

.sub-cuerpo {
    background-color: #212121;
    color: white;
    width: 610px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 95%;
}

.formulario-datos {
    padding: 7px;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid #f8f8f8;
    color: #f8f8f8;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.descripcion {
    color: white;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.label-descripcion {
    margin-top: 15px;
    color: #f8f8f8;
}

.espacio-enviar {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.boton-enviar {
    width: 75px;
    height: 35px;
    text-align: center;
    font-size: medium;
}

.Copyright {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797979;
    font-size: large;
    font-weight: 700;
}

/* Tipografia */
.tipografia {
    background-color: #212121;
    width: 100%;
    height: 243vh;
}

.titulo-tipografia {
    width: 53vh;
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: end;
    color: #f8f8f8;
    letter-spacing: calc(1.5px);
    font-size: x-large;
}

.forma-tipografica {
    height: 135vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Aa {
    height: 90vh;
    width: 53%;
}

.letras-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    font-size: 560px;
    color: rgb(63, 63, 63);
}

.abcdario {
    height: 80vh;
    width: 35%;
}

.titulo-abcdario {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: end;
    font-size: 70px;
    font-weight: 500;
    color: white;
}

.abecedario-letras {
    width: 94%;
    font-size: 26px;
    font-weight: 700;
    margin-top: 50px;
    color: #f8f8f8;
    height: 80px;
    text-align: justify;
    letter-spacing: 4px;
}

.numeros-tipografia {
    width: 65%;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    color: #f8f8f8;
    text-align: justify;
    letter-spacing: 4px;
}

.titulo-colores {
    width: 300px;
    padding: 10px;
    height: 70px;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 26px;
    font-weight: 900;
    color: #f8f8f8;
}

.posicion-colores {
    display: flex;
    height: 300px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.posicion-colores1 {
    display: flex;
    flex-direction: column;
    padding: 90px;
}

.colorblanco {
    background-color: #f8f8f8;
    width: 130px;
    height: 160px;
    border-radius: 20px;
}

.colornegro {
    background-color: #212121;
    width: 130px;
    height: 160px;
    border-radius: 20px;
    border: 1.5px solid #f8f8f8;
}

.textoColor {
    width: 100%;
    text-align: center;
    color: #f8f8f8;
    margin-top: 5px;
}

/* Footer */
.estructura-ultima-parte {
    height: 80vh;
}

.titulo-ultima-parte {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 87px;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-titulo-ultima-parte {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding-top: 10px;
    letter-spacing: calc(0.5px);
}

.pagina-com {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 1px;
}

.texto-gmail {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 1px;
}

@media (max-width:1024px) {

    /* parte inicial */
    .fondo{
        height: 880px;
    }
    .primerTitulo {
        width: 45%;
    }

    .contenedorUno {
        height: 500px;
        padding: 10 50px 30px 50px;
    }

    .menu {
        padding: 0 1px 0 4px;
    }

    .medioPrimeraParte {
        width: 550px;
    }

    .medioPrimeraParte {
        width: 67%;
    }

    .tituloMedioPrimeraParte,
    .textoNegro {
        font-size: 32px;
        display: flex;
        align-items: end;
        height: 150px;
    }

    .textoMedioSegundaParte {
        font-size: 20px;
        width: 70vh;
    }

    .imagen {
        width: 136px;
        height: 155px;
    }

    /* segunda Parte */
    .nav_logo i {
        display: flex;
        align-items: end;
        font-size: 53px;
        width: 110px;
    }

    .nav_items {
        width: 46%;
    }

    .nav_items a {
        margin: 1px;
        font-size: 17px;
        padding: 10px 7px;
    }

    .tituloTexto {
        font-size: 38px;
    }

    .textoSubtitulo {
        font-size: 26px;
    }

    .imagen1 {
        width: 270px;
        padding-bottom: 25px;
    }

    .ubicacionIconos {
        width: 23%;
    }

    .ubicacionTexto {
        width: 25%;
    }

    /* cuarta Parte */
    .icono {
        width: 25%;
    }

    .linea-negra {
        width: 90%;
    }

    .icono-adobe,
    .icono-photoshop {
        margin: 0 2px 0 0;
        width: 40%;
    }

    .sub-icono {
        width: 28%;
    }

    /* quinta Parte */
    .parte-di-hola {
        margin-right: 12px;
        padding: 0 10px;
    }

    .texto-di-hola {
        font-size: 21px;
    }

    .sub-cuerpo {
        width: 55%;
    }

    /* sexta Parte */
    .tipografia {
        height: 255vh;
    }

    .titulo-tipografia {
        width: 25%;
    }

    .letras-a {
        font-size: 85vh;
    }

    .abcdario {
        width: 37%;
    }

    .titulo-abcdario {
        font-size: 12vh;
    }

    .abecedario-letras,
    .numeros-tipografia {
        font-size: 20.7px;
    }

    .titulo-colores {
        width: 21%;
    }

    /* septima Parte */
    .titulo-ultima-parte {
        font-size: 75px;
        align-items: end;
    }

    .sub-titulo-ultima-parte {
        font-size: 33px;
    }
}

@media (max-width:768px){
    /* Primera Parte */
    .comienzo{
        margin-top: -10px;
    }
    .contenedorUno{
        width: 85%;
        padding: 40px;
    }
    .contenedoIconoYTexto i{
        align-items: start;
    }
    .menuTexto{
        align-items: center;
        height: 43px;
    }
    .tituloMedioPrimeraParte, .textoNegro{
        font-size: 26px;
        height: 23vh;
    }
    .textoMedioSegundaParte{
        font-size: 16px;
        align-items: start;
        width: 60vh;
    }
    .miImagen{
        height: 45vh;

    }
    .imagen{
        width: 30vh;
        height: 33vh;
    }
    .iconosParteFinalInicio{
        width: 35%;
    }
    .finalParteInicial{
        width: 65%;
    }
    /* Segunda Parte */
    .texto-h{
        height: 80%;
    }
    .tituloTexto{
        font-size: 26.5px;
        height: 13%;
        padding: 15px 0 0 30px;
    }
    .textoSubtitulo{
        font-size: 20px;
        padding: 0 0 0 35px;
    }
    .miImagen1{
        height: 85%;
        width: 32%;
    }
    .finaParteInicial{
        align-items: start;
        height: 20vh;
        margin-bottom: 20vh;
    }
    .ubicacionTexto{
        width: 30%;
    }
    /* Tercera Parte */
    .seccion-WhatIdo{
        margin-top: 75vh;
    }
    .titulo-whatido{
        width: 60%;
        font-size: 38px;
        align-items: center;
        margin-bottom: 15px;
    }
    .div-texto-que-hago{
        flex-wrap: wrap;
    }
    .divs{
        width: 30%;        
    }
    /* Cuarta Parte */
    .padre-iconos{
        margin-top: 12%;
    }
    .sub-icono{
        width: 20vh;
    }
    /* Quinta Parte */
    .texto-founder{
        width: 100%;
        text-align: justify;
    }
    .linea-gris{
        width: 100%;
    }
    /* Sexta Parte */
    .parte-contactame{
        flex-direction: column;
        align-items: center;
    }
    .parte-di-hola{
        width: 85%;
        margin-bottom: 100px ;
    }
    .sub-cuerpo{
        width: 85%;
    }
    /* Septima Parte */
    .tipografia{
        height: 230vh;
    }

    .titulo-tipografia{
        width: 30%;
    }

    .forma-tipografica{
        height: 120vh;
        margin-top: 20px;
    }

    .letras-a{
        font-size: 62vh;
    }
    .titulo-abcdario{
        font-size: 40px;
        height: 10vh;
    }

    .colorblanco{
        width: 23vh;
        height: 25vh;
    }
    .colornegro{
        width: 21vh;
        height: 23vh;
    }

    /* Octava Parte */
    .titulo-ultima-parte{
        font-size: 11vh;
    }
    .sub-titulo-ultima-parte{
        font-size: 5vh;
    }
    .pagina-com{
        font-size: 3.5vh;
    }
    .texto-gmail{
        font-size: 3.5vh;
    }
}

@media (min-width:320px) and (max-width:425px){
    /* Primera parte */
    .fondo{
        height: 135vh;
    }
    .primerTitulo{
        font-size: 11px;
        width: 65%;
        height: 30vh;
    }
    .comienzo{
        width: 100%;
    }
    .contenedorUno{
        border: 2px solid black;
        padding: 20px;
    }
    .contenedoIconoYTexto{
        width: 100%;
    }

    .bi-list {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .menuTexto{
        width: 65%;
        height: 100%;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-evenly;
    }
    .padrePrimeraParte{
        flex-direction: column;
        width: 100%;
    }
    .medioPrimeraParte{

        text-align: center;
        width: 100%;
        height: 100px;
        padding-top: 20px;
    }
    .tituloMedioPrimeraParte{
        width: 100%;
        align-items: center;
    }
    .textoMedioSegundaParte{
        width: 100%;
        padding-bottom: 90px;
    }
    .miImagen{
        width: 100%;
        height: 120px;
        margin-top: 75px;
        justify-content: center;
    }
    .imagen{
        width: 110px;
        height: 110px;
        border-radius: 100px;
    }
    /* Segunda Parte */
    .nav_logo{
        width: 32%;
    }
    .nav_logo .i {
        height: 100px;
    }
    .nav_logo .hamburguesa{
        width: 10vh;
        align-items: center;
    }
    .nav_toggle{
        align-items: center;
        justify-content: end;
    }

    .nav_items {
        position: absolute;
        top: 100px;
        margin-top: 135vh;
        padding: 30% 0;
        right: 0;
        background: rgb(107, 106, 105);
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 100vh;
        transform: translateX(120%);
        transition: 0.3s ease all;
    }

    .textoEImagen{
        flex-direction: column;
    }

    .texto-h{
        width: 100%;
    }
    .tituloTexto{
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
    }
    .textoSubtitulo{
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 20px;
        text-align: start;
    }
    .miImagen1{
        width: 100%;
        justify-content: center;
        align-items: start;
    }
    .imagen1{
        width: 200px;
        height: 200px;
    }
    .finaParteInicial{
        justify-content: space-between;
    }
    .ubicacionIconos{
        height: 100%;
        width: 42%;
        margin-left: 0%;
        align-items: center;

    }
    .ubicacionTexto{
        width: 55%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    /* Tercera Parte */
    .seccion-WhatIdo{
        width: 100%;
        height: 70%;
        margin: 0%;
    }
    .titulo-whatido{
        width: 100%;
    }
    .divs{
        width: 100%;
        margin: 10px;
    }
    /* Cuarta Parte */

    .tituloSkills{
        justify-content: center;
    }
    .iconos-trabajo{
        width: 100%;
    }
    .icono{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .texto-iconos-skills{
        font-size: 15px;
        justify-content: center;
        font-weight: 600;
    }
    .linea-negra{
        width: 100%;
    }
    .icono-adobe, .icono-photoshop{
        width: 50%;
        margin: 0 10px;
        flex-direction: column;
    }
    .texto-icono-abajo{
        width: 10px;
        width: 90%;
        text-align: center;
        margin: 0;
        font-weight: 700;
    }

    /* Quinta Parte */
    .subtitulo-experiencia{
        height: 100px;
    }

    /* Sexta Parte */
    .texto-di-hola{
        font-size: 20px;
        width: 100%;
    }
    .texto-icono-dihola{
        font-size: 15px;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    /* Septima Parte */
    .tipografia{
        height: 270vh;
    }
    .sub-cuerpo{
        width: 100%;
    }
    .titulo-tipografia{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .forma-tipografica{
        flex-direction: column;
        height: 150vh;
    }
    .Aa{
        height: 50vh;
        width: 100%;
    }
    .letras-a{
        font-size: 45vh;
        display: flex;
        align-items: start;
    }
    .abcdario{
        width: 90%;
    }
    .numeros-tipografia{
        margin-top: 40px;
        width: 100%;
    }
    .titulo-colores{
        width: 100%;
        justify-content: center;
    }
    .posicion-colores{
        width: 100%;
    }
    .posicion-colores1{
        width: 50%;
        margin: 0%;
        padding: 0%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .posicion-colores2{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .colorblanco, .colornegro{
        width: 85px;
        height: 100px;
    }

    /* Octava Parte */
    .titulo-ultima-parte{
        font-size: 40px;
        height: 150px;
        text-align: center;
    }
    .sub-titulo-ultima-parte{
        font-size: 22px;
        height: 80px;
    }
    .pagina-com, .texto-gmail{
        font-size: medium;
    }
}
